{% extends "header.html" %}

{% block body %}

<style>
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .box{
        width:100%;
    }

</style>

<h1>405 -- METHOD NOT ALLOWED</h1>
<h2>RICK DANCE PARTY</h2>


<a href="javascript:history.go(-1)"><button type="button" class="btn btn-warning">GO AWAY!!!</button></a>

<div class = "box" id="background">
<img class = "center" class = "fixed-bottom"src="https://68.media.tumblr.com/0d29a110bbd89fface87d17f6dade085/tumblr_oof0gkLGUY1wnofxjo1_500.gif" width="30%">
</div>

{% endblock %}