{% extends "navbar.html" %}

{% block body %}

<h2 class="text-center bounceIn">Future Trends</h2>

<h4 class="text-center bounceIn">Thinking Ahead</h4>


<br>
<p style="text-indent: 50px;">In summary, memes have started out as a means of finding unity within communities and subcultures. Memes found fertile ground in the creative and bored minds of the soldiers who needed a means of communication for the heroism that they were accomplishing at the time. Soon these memes developed into a strange and mysterious form of communication. Portrayal of triumph and whimsicality influenced the citizens of our nation to practice individualism and to stand behind something bigger than themselves. Memes have shaped the individualist nature of today's society. They allow for a bridge between cultures and individuals who may not be similar, but share a common interest through internet culture. Memes have become standard form of communication that utilize two basic principles to get their message across: memes speak through their cultural context and their visual significance.</p>


<h4 class="text-left bounceIn" style="color: #00D9D9;">Cultural Context:</h4>

<p style="text-indent: 50px;">The way memes are used in conversation says alot about the ideas they convey. Depending on when they are used, memes are inserted to a conversation, they can have a plethora of different meanings. For example, say we have an image of an individual with a squinting face removing their glasses. If someone places this at the beginning of a conversation, it could draw the meaning of their search for conversation. The illustration can be made as a more light hearted, funny, comment. However if someone makes an insult towards another individual and that individual, in turn, uses the same meme. It could have the context of misdirection, like, “Me trying to find who your talking to”. They could use this in rebuttal, like a reaction gif, and therefore be a diss at the original bully.</p>


<h4 class="text-left bounceIn" style="color: #00D9D9;">Visual Significance:</h4>

<p style="text-indent: 50px;">The second way in which today’s memes speak is through their visual language. Depending on the way a meme looks, it may have multiple meanings. Someone's face can be arbitrarily used to give off multiple meanings, as we saw in the example above. Text can be added and changed to give new meaning and insight to the way the user interprets and is using it. People, individually, can type out their rebuttal or response on top of the image to give themselves a more powerful response that that of plain text. Instead of someone imagining what the words are saying, this medium does it for them, so it is more powerful as a whole. Memes are a representation of just how many words an image can say. With the many representations one image can hold, everyone can derive some meaning from each one.</p> 


<p style="text-indent: 50px;">Concluding, This is only going to progress over time to become a way of utter speech. I see it getting to the point where everything will be able to be talked about through memes and no text will need to be used. Based on the appearance and usage, it will be able to sit on its own and not need dialog. Memes will have the ability to be used back to back and not rely on any contextual information, besides what is seen inside the text itself. This communicative form has developed and changed and, in time, will only grow and get more complex. The development shows absolutely no sign of stopping and is something that people of any generation will be able to utilize and exploit for years to come. I am enthused with the route that memes have taken and am eager and excited to see the future of this expressive communication thrive.</p>


{% endblock %}