{% extends "header.html" %}

{% block body %}

<div class="container">
    <h1>Jinja Templating Examples</h1>
    <h2> for loop with Jinja</h2>
    
    {% for o in output %}
        <p>{{o}}</p>
    {% endfor %}
    
    <hr>
    
    <h2>if statement with Jinja</h2>
    
    {% if output[3]|int > 10 %}
        <p>42 is greater than 10.</p>
    {% endif %}
    
    <hr>
    
    <h2>replace( ) with Jinja</h2>
    
    <p>{{output[0]|replace('good', 'Owen Wilson')}}</p>
    
    <hr>
    
    <h2> loop through a string with .split( ) and make it a list</h2>
    <ul>
        {% for lang in output[1].split(',') %}
    
            <li>{{lang}}</li>
    
        {% endfor %}
    </ul>
    
    
    <h2>Render HTML in Jinja</h2>
    
    {{output[2]|safe}}
    
    <hr>
    
    <h2>Render code in HTML</h2>
    
    {% raw %}
        <pre>
            <code>
                {% for i in items %}
    
                    {{i}}
    
                {% endfor %}
            </code>
        </pre>
    {% endraw %}
    
    <hr>
    
    <h2> Jinja Macros</h2>
    
    {% macro input(name, value='', type='text', size=20) -%}
        <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">
    {%- endmacro %}
    
    <p>{{ input('username') }}</p>
    <p>{{ input('password', type='password') }}</p>
    
</div>

{% endblock %}