{% extends "navbar.html" %}

{% block body %}
<h2 style="padding-top: 25px;">MemeLine Updates</h2>
<h5 style="text-align: center; color: #00D9D9;">This page is designed to give insight to the constant update on this site!</h5>
<p style="text-align: center;">Check out my GitHub <a href="https://github.com/tmay3rdbase/DIGIT400">Here!</a></p>
<!-- Collapsable updates -->
<div class="adjustAcc">
<div id="accordion" role="tablist">
    <div class="card">
    <div class="card-header" role="tab" id="headingNew">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#newest" aria-expanded="true" aria-controls="newer">
          Update #7
        </a>
      </h5>
    </div>
    <div id="newest" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Final Update has been done for the semester. The page has been updated textually. The text has been proofread and updated so as to serve up the best content. New page was added, Future Trends. This was done to show the prosperous future that the form of communication offers. Stay Tuned For More Updates!!
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="b-0">
        <a class="collapsed"data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Update #6
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Text was added and cleaned up as well as image errors. text was added and updated for the About page to make sure that it was up-to-date for the task at hand.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Update #5
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Text was fully added into the website so that there was finally images to reference. Hyperlinks added to the text to reference back to the site where the information was located.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Update #4
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Pages were updated and made into 3 instead of 20+. Along with this the meme images were added and updated.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Update #3
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Added a new page for updates as well as this nice collapsable list for them!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Update #2
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Created error pages for unfinished stuff!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Update #1
        </a>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Started the project and created this site!
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}